apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.deployment.name }}-migrate
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.app }}
    spec:
      restartPolicy: Never
      containers:
      - name: migrate
        image: {{ .Values.deployment.image }}
        imagePullPolicy: Always
        command:
          - python
          - manage.py
          - migrate
        envFrom:
        - configMapRef:
            name: {{ .Values.configmap.name }}
        - secretRef:
            name: {{ .Values.secret.name }}
        - secretRef:
            name: puddle-db-secret
