apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: puddle-app-metrics
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.deployment.app }}
    release: prometheus
spec:
  selector:
    matchLabels:
      app: {{ .Values.service.app }}
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
    scheme: http
  namespaceSelector:
    matchNames:
    - {{ .Values.namespace }}
