- name: Build and push puddle-app Docker image to AWS ECR
  hosts: localhost
  gather_facts: no

  tasks:
    - name: Create ECR repository if it does not exist
      community.aws.ecs_ecr:
        name: "{{ ecr_repository_name }}"
      register: ecr_repo

    - name: Print the info of ECR repository
      debug:
        var: ecr_repo

    - name: Build docker image
      community.docker.docker_image_build:
        name: "{{ ecr_repo.repository.repositoryUri }}:{{ image_tag }}"
        path: "{{ docker_file_path }}"
        dockerfile: "{{ docker_file }}"

    - name: Push docker image to ecr repository
      community.docker.docker_image_push:
        name: "{{ ecr_repo.repository.repositoryUri }}"
        tag: "{{ image_tag }}"
