namespace: puddle-production

deployment:
  name: puddle-app-deployment
  app: puddle-app
  container_name: puddle-app-container
  replicas: 1
  image: 231498620802.dkr.ecr.us-east-1.amazonaws.com/puddle-app-repo:57450a3
  port: 8000

configmap:
  name: puddle-app-config
  DJANGO_DEBUG: "False"
  DJANGO_ALLOWED_HOSTS: "*"
  DJANGO_CSRF_TRUSTED_ORIGINS: ""
  DJANGO_SECURE: "false"
  DJANGO_HSTS_SECONDS: "31536000"
  DJANGO_EMAIL_BACKEND: "django.core.mail.backends.console.EmailBackend"
  USE_S3: "True"
  AWS_BUCKET_NAME: "puddle-s3-media-nti"
  AWS_S3_REGION_NAME: "us-east-1"
  AWS_S3_CUSTOM_DOMAIN: "puddle-s3-media-nti.s3.amazonaws.com"

secret:
  name: puddle-app-secret

service:
  name: puddle-app-service
  app: puddle-app
  type: LoadBalancer
  port:
    protocol: TCP
    port: 80
    targetPort: 8000

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "250m"

probes:
  liveness:
    path: /health/
    port: 8000
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
  readiness:
    path: /health/
    port: 8000
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
