name: CI Pipeline

on:
  push:
    branches:
      - feature/pipeline-setup

env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_REGION: us-east-1

jobs:
  infra:
    uses: ./.github/workflows/infra.yaml
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  
  detect-changes:
    name: Detect Application changes
    runs-on: ubuntu-latest
    outputs:
      app_changed: ${{ steps.detect_changes.outputs.app }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Detect app changes
        id : detect_changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            app:
              - 'puddle/**'
          show-files: true
          token: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: [infra, detect-changes]
    if: needs.detect-changes.outputs.app_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r puddle/requirements.txt
          pip install coverage

      - name: Run Django tests with coverage
        working-directory: puddle
        run: |
          coverage run --source='puddle' manage.py test
          coverage report
          coverage xml

  docker:
    runs-on: ubuntu-latest
    needs: [build, infra, detect-changes]
    if: needs.detect-changes.outputs.app_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Get ECR URL from infra job
        run: |
          ECR_URL="${{ needs.infra.outputs.ecr_url }}"
          echo "ECR URL is: $ECR_URL"
          echo "ECR_URL=$ECR_URL" >> $GITHUB_ENV

      - name: Get commit SHA
        id: get-sha
        run: echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build Docker image with commit SHA
        run: |
          docker build -t puddle-app:v${{ env.COMMIT_SHA }} -f docker/Dockerfile ./puddle

      - name: Tag Docker image for ECR
        run: |
          docker tag puddle-app:v${{ env.COMMIT_SHA }} ${{ env.ECR_URL }}:latest
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.ECR_URL }}
      
      - name: Push Docker image to ECR
        run: |
          docker push ${{ env.ECR_URL }}:latest
          echo "Pushed: ${{ env.ECR_URL }}:latest"
          