name: Puddle CI Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - feature/pipeline-setup
  pull_request:
    branches:
      - main
env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_REGION: us-east-1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r puddle/requirements.txt
          pip install coverage

      - name: Run Django tests with coverage
        working-directory: puddle
        run: |
          coverage run --source='puddle' manage.py test
          coverage report
          coverage xml

  terraform:
    runs-on: ubuntu-latest
    needs: build  
    steps:
      - name: Download terraform output artifact
        uses: actions/download-artifact@v4
        with:
          name: terraform-output
          path: ./terraform-output

      - name: Load ECR repository URI
        id: ecr-info
        run: |
          ECR_URL=$(jq -r '.ecr_url' ./terraform-output/terraform-outputs.json)
          echo "ECR URL is: $ECR_URL"
          echo "ECR_URL=$ECR_URL" >> $GITHUB_ENV

  docker:
    runs-on: ubuntu-latest
    needs: terraform 
    steps:
      - name: Get commit SHA
        id: get-sha
        run: echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build Docker image with commit SHA
        run: |
          docker build -t puddle-app:v${{ env.COMMIT_SHA }} -f ./puddle/Dockerfile ./puddle

      - name: Tag Docker image for ECR
        run: |
          docker tag puddle-app:v${{ env.COMMIT_SHA }} ${{ env.ECR_URL }}:latest
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Push Docker image to ECR
        run: |
          docker push ${{ env.ECR_URL }}:latest
