name: Infrastructure Pipeline

on:
  workflow_dispatch:
  
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
    AWS_REGION: us-east-1
    
jobs:
  
  detect-changes:
    name: Detect Infrastructure changes
    runs-on: ubuntu-latest
    outputs:
      infra_changed: ${{ steps.detect_changes.outputs.infra }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect infra changes
        id : detect_changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            infra:
              - 'terraform/**/*.tf'
          list-files: json
          token: ${{ secrets.GITHUB_TOKEN }}
  
  terraform:
    name: Provision ECR Infrastructure
    needs: detect-changes
    if: needs.detect-changes.outputs.infra_changed == 'true'
    runs-on: ubuntu-latest
    outputs:
      ecr_url: ${{ steps.ecr_output.outputs.ecr_url }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0
      
      - name: Terraform Init
        working-directory: ./infra
        run: terraform init
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      
      - name: Terraform Validate
        working-directory: ./infra
        run: terraform validate
      
      - name: Terraform Plan and Apply
        working-directory: ./infra
        run: |
          terraform plan -out=tfplan -detailed-exitcode
          PLAN_EXIT_CODE=$?
          if [ "$PLAN_EXIT_CODE" -eq 0 ]; then
            echo "No changes to apply."
          elif [ "$PLAN_EXIT_CODE" -eq 2 ]; then
            echo "Changes detected, applying..."
            terraform apply -auto-approve tfplan
          else
            echo "Error running terraform plan"
            exit $PLAN_EXIT_CODE
          fi
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      
      - name: Get ECR Repository URL
        id: ecr_output
        working-directory: ./infra
        run: |
          ECR_URL=$(terraform output -raw ecr_repository_url)
          echo "ecr_url=$ECR_URL" >> $GITHUB_OUTPUT
          echo "ECR Repository: $ECR_URL"
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
          